{
  "root": true,
  "extends": "eslint:recommended",
  "rules": {
    "no-unused-vars": ["error", { "args": "after-used" }]
  },
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module"
  }
}
